*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#EEF2F7;
}

.menu-btn{

position:fixed;
top:15px;
left:15px;

width:50px;
height:50px;

border:none;
border-radius:10px;

background:#183B6B;
color:white;

font-size:25px;
cursor:pointer;

z-index:1001;

}

.sidebar{

position:fixed;

width:250px;
height:100%;

background:#183B6B;

padding-top:70px;

transition:.3s;

}

.logo{
    position:absolute;
    top:20px;
    left:0;
    width:100%;
    text-align:center;

    font-size:24px;
    font-weight:bold;
    color:#D4AF37;
}
.sidebar ul{

list-style:none;

}

.sidebar li{

margin:12px 0;

}

.sidebar a{

display:block;

padding:15px 30px;

color:white;

text-decoration:none;

font-size:18px;

transition:.3s;

}

.sidebar a:hover,
.sidebar .activo{

background:#D4AF37;

color:#183B6B;

}

.main{

margin-left:250px;

padding:40px;

transition:.3s;

}

.encabezado{

background:white;

padding:35px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

margin-bottom:30px;

}

.encabezado h1{

font-size:40px;

color:#183B6B;

margin-bottom:10px;

}

.encabezado p{

color:#666;

font-size:18px;

}

.barra{

display:flex;

gap:15px;

margin-bottom:35px;

}

.barra input{

flex:1;

padding:15px;

border:1px solid #ccc;

border-radius:10px;

font-size:16px;

}

.barra button{

background:#D4AF37;

color:white;

border:none;

padding:15px 25px;

border-radius:10px;

cursor:pointer;

font-weight:bold;

}

.nuevo{

background:#183B6B;

color:white;

padding:15px 25px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.card{

background:white;

border-radius:18px;

padding:30px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.icono{

font-size:60px;

text-align:center;

margin-bottom:20px;

}

.card h2{

color:#183B6B;

margin-bottom:15px;

text-align:center;

}

.card p{

color:#666;

text-align:center;

line-height:1.6;

margin-bottom:20px;

}

.card span{

display:block;

font-size:24px;

font-weight:bold;

color:#D4AF37;

text-align:center;

margin-bottom:15px;

}

.estado{

width:140px;

margin:auto;

text-align:center;

padding:8px;

border-radius:20px;

font-weight:bold;

margin-bottom:25px;

}

.disponible{

background:#D4F5DD;

color:#1B5E20;

}

.botones{

display:flex;

justify-content:space-between;

}

.editar{

background:#183B6B;

color:white;

padding:10px 18px;

border-radius:8px;

text-decoration:none;

}

.eliminar{

background:#E53935;

color:white;

padding:10px 18px;

border-radius:8px;

text-decoration:none;

}

.editar:hover{

background:#D4AF37;

}

.eliminar:hover{

background:#B71C1C;

}

.sidebar.active{

width:80px;

}

.sidebar.active .logo,
.sidebar.active a{

font-size:0;

}

.sidebar.active a::first-letter{

font-size:22px;

}

.main.active{

margin-left:80px;

}