<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Marriott International</title>
    <link rel="stylesheet" href="css/contactos.css">
</head>

<body>

    <header>

        <div class="logo">
            Marriott International
        </div>

        <nav>
            <a href="index.html">Inicio</a>
            <a href="hoteles.html">Hoteles</a>
            <a href="HabitacionesDisponibles.html">Habitaciones</a>
            <a href="ServiciosDisponibles.html">Servicios</a>
            <a href="contactos.html">Contacto</a>
        </nav>

    </header>

    <section class="titulo">

        <h1>Contáctanos</h1>

        <p>
            Estamos disponibles para ayudarte con tus reservaciones y consultas.
        </p>

    </section>

    <section class="contactos-container">

        <div class="info-contacto">

            <h2>Información de Contacto</h2>

           
             <p><i class="fas fa-map-marker-alt"></i> 📍 Av. Marriott Internacional #100, Ciudad de México</p>

            <p><i class="fas fa-phone"></i> 📞 +52 55 1234 5678</p>

            <p><i class="fas fa-envelope"></i>  ✉  contacto@marriott.com</p>

            <p><i class="fas fa-clock"></i> 🕒 Atención las 24 horas</p> 

            <div class="redes">

                <a href="#"><i class="fab fa-facebook-f"></i></a>

                <a href="#"><i class="fab fa-instagram"></i></a>

                <a href="#"><i class="fab fa-whatsapp"></i></a>

            </div>

        </div>

        <div class="formulario">

            <h2>Envíanos un Mensaje</h2>

            <form>

                <input type="text" placeholder="Nombre Completo" required>

                <input type="email" placeholder="Correo Electrónico" required>

                <input type="text" placeholder="Asunto" required>

                <textarea placeholder="Escribe tu mensaje..." rows="6" required></textarea>

                <button type="submit">Enviar Mensaje</button>

            </form>

        </div>

    </section>

</body>

</html>