<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>SIGRH - Marriott International</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>

    <header>

        <div class="logo">
            Marriott International
        </div>

        <nav>
            <a href="#">Inicio</a>
            <a href="hoteles.html">Hoteles</a>
            <a href="HabitacionesDisponibles.html">Habitaciones</a>
            <a href="ServiciosDisponibles.html">Servicios</a>
           <a href="contactos.html">Contacto</a>

            <a href="login.html" class="btn-login">Iniciar Sesión</a>
        </nav>

    </header>

    <section class="hero">

          <img src="img/hotel.jpg" class="hero-img">

        <div class="hero-texto">

            <h1>Sistema Integral de Gestión y Reservaciones Hoteleras</h1>

            <p>
                Encuentra hoteles, habitaciones y promociones exclusivas
                dentro de la cadena Marriott International.
            </p>

           <a href="reservacion.html" class="btn-reservar">
    Reservar Ahora
</a>

        </div>

    </section>

    <section class="habitaciones">

        <h2>Habitaciones Destacadas</h2>

        <p>
            Descubre habitaciones, suites y hoteles con la mejor experiencia.
        </p>

        <div class="cards">

            <div class="card">
                <img src="img/suit2.jpg" alt="Suite Ejecutiva">
            
                <div class="contenido">
                    <h3>Suite Ejecutiva</h3>
                    <p>Vista al mar</p>
                    <span>$3,500 MXN por noche</span>
                </div>
            </div>

            <div class="card">
                 <img src="img/delux.jpg" alt="Habitación Deluxe">
            
                <div class="contenido">
                    <h3>Habitación Deluxe</h3>
                    <p>2 camas queen</p>
                    <span>$2,800 MXN por noche</span>
                </div>
            </div>

            <div class="card">
                 <img src="img/presidencial.jpg" alt="Suite Presidencial">

                
                <div class="contenido">
                    <h3>Suite Presidencial</h3>
                    <p>Lujo Premium</p>
                    <span>$8,500 MXN por noche</span>
                </div>
            </div>

            <div class="card">
                <img src="img/familiar.jpg" alt="Habitación Familiar">
                <div class="contenido">
                    <h3>Habitación Familiar</h3>
                    <p>Hasta 6 huéspedes</p>
                    <span>$4,200 MXN por noche</span>
                </div>
            </div>

        </div>

    </section>

    <section class="destinos">

    <h2>Destinos Destacados</h2>

    <p>
        Descubre algunos de los destinos más exclusivos de nuestra cadena hotelera.
    </p>

    <div class="destinos-grid">

        <div class="destino">
            <img src="img/cancun.jpg" alt="Cancún">
            <h3>Cancún</h3>
            <p>Playas paradisíacas y experiencias inolvidables.</p>
        </div>

        <div class="destino">
            <img src="img/paris.jpg" alt="París">
            <h3>París</h3>
            <p>La ciudad del amor y la elegancia europea.</p>
        </div>

        <div class="destino">
            <img src="img/newyork.jpg" alt="Nueva York">
            <h3>Nueva York</h3>
            <p>Vive la energía de la ciudad que nunca duerme.</p>
        </div>

        <div class="destino">
            <img src="img/dubai.jpg" alt="Dubái">
            <h3>Dubái</h3>
            <p>Lujo, modernidad y experiencias únicas.</p>
        </div>

    </div>

</section>

    <section class="modulos">

    <h2>Módulos del Sistema</h2>

    <div class="contenedor-modulos">

        <div class="modulo">
            <div class="icono">👤</div>
            <h3>Usuarios</h3>
            <p>Consulta, registro y administración de huéspedes y reservaciones.</p>
            <button>Acceder</button>
        </div>

        <div class="modulo">
            <div class="icono">🏨</div>
            <h3>Recepción</h3>
            <p>Check-In, Check-Out y asignación de habitaciones disponibles.</p>
            <button>Acceder</button>
        </div>

        <div class="modulo">
            <div class="icono">📊</div>
            <h3>Administración</h3>
            <p>Control de tarifas, promociones y gestión hotelera.</p>
            <button>Acceder</button>
        </div>

        <div class="modulo">
            <div class="icono">📈</div>
            <h3>Gerencia</h3>
            <p>Reportes, estadísticas y análisis de ocupación en tiempo real.</p>
            <button>Acceder</button>
        </div>

    </div>

</section>


    <footer>

    <h3>Marriott International</h3>

    <p>Sistema Integral de Gestión y Reservaciones Hoteleras</p>

    <div class="redes">

        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="#">
            <i class="fab fa-whatsapp"></i>
        </a>

    </div>

    <p>© 2026 Todos los derechos reservados</p>

</footer>

<script src="js/menu.js"></script>

</body>

</html>